<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/vue.js"></script>
    <title>Document</title>
</head>

<body>

    <div id="root">
        姓：<input type="text" v-model="firestName"> <br><br>
        名：<input type="text" v-model="lastName"> <br><br>
        姓名：<span>{{fullName}}</span>

    </div>

    <script>
        const vm = new Vue({
            el: '#root',
            data: {
                firestName: '张',
                lastName: '三'
            },
            methods: {
                
            },
            computed: {
                fullName: {
                    get() {
                        return this.firestName + this.lastName
                    },
                    set(value) {
                        // console.log('set'+value);
                        const arr = value.split('-')
                        this.firestName = arr[0]
                        this.lastName = arr[1]
                    }
                }
            }

        })

    </script>
</body>

</html>